#footer{
    background: linear-gradient(200deg,#313131 50%,#515151) ;
    
}

.footer-container {
    z-index: 1;    
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    height: 350px;
    color: #cecece;
    box-shadow: 0px 5px 15px 0px #25252580;
    border-bottom: 2px solid #eeeeee70;
    /*margin-bottom: 120px;*/
}

#footer li{
    list-style:lower-greek;
    font-weight: bold;
    line-height: 2.3em;
    cursor: pointer;
}
#footer a{
    text-decoration:none;
    color: #fff;;
}

.nameFooter{
    width: 35%;
    text-align:center;
    border-radius: 20px;
    padding: 2em;
    transition: .25s ease-in-out;
    cursor:alias;
}
.nameFooter h2{
    font-weight: bold;

}
.nameFooter:hover{
    font-size: 1.04rem;
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px 1px rgba(122, 122, 122, 0.288);
}
.footer-dorito{
    line-height: 1em;
   
    bottom: 0;
    display:none;
    z-index: -5;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: #fff;
    /*background: linear-gradient(180deg, #272727 20%, tomato );*/
    background: linear-gradient(130deg, #c76700 1%,#ff8200 100% );
    padding:10px 0;
}
.active{
    display:flex;
}
.footer-dorito .descriptionFooter{
    font-size: .8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    height:80%;
    padding: 10px 0;
    
    border:1px solid #ffffff20;
    border-radius: 15px;
    
}

.logoFooter{
    width: 10%;
    height: 100%;
    display: flex;
    margin: auto;
}

.logoFooter img{
    width: 50%;
    margin: auto;
}

.redesFooter{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
}
#footer .redesFooter li{
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    list-style:none;
}
.redesFooter img{
    margin: auto 1em;
    width: 5%;
    height: auto;
}