

.footer-container {
    z-index: 5;    
    background: linear-gradient(200deg,#313131 50%,#515151) ;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 350px;
    width:100%;
    color: #cecece;
    box-shadow: 0px 5px 15px 0px #25252580;
    border-bottom: 2px solid #eeeeee70;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: auto;
    transform-origin: top center;
    transition: transform  .5s ease-in-out;
}
.wrapper{
    transition-delay: .2s;
    cursor: pointer;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transform: translateY(-10px) scaleY(0.9);
    margin-bottom: 100px;
}
#footer li{
    list-style:lower-greek;
    font-weight: bold;
    line-height: 2.3em;
    cursor: pointer;
}
#footer a{
    text-decoration:none;
    color: #fff;;
}

.nameFooter{
    width: 35%;
    text-align:center;
    border-radius: 15px;
    padding: 2em;
    transition: .25s ease-in-out;
    cursor:alias;
}
.nameFooter h2{
    font-weight: bold;
    
}
.nameFooter:hover{
    font-size: 1.04rem;
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px 1px rgba(122, 122, 122, 0.288);
}
.footer-dorito{
    line-height: 1em;
    bottom: 0;
    display:flex;
    visibility: hidden;
    opacity: 0;
    margin-top:-100px;
    position: fixed;
    z-index: -10;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    /*background: linear-gradient(180deg, #272727 20%, tomato );*/
    background: linear-gradient(130deg, #c76700 1%,#ff8200 100% );
    padding:1em;
    transition: all .5s ease-in-out;
    padding-top: 120px;
    
}
#footer .active{
    transition: all .2s ease-in-out;
    visibility:visible;
    opacity: 1;
    transition-delay: .3s;
}

.footer-dorito .descriptionFooter{
    
    font-size: .8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    height:80%;
    padding: 5px 0;
    border:1px solid #ffffff20;
    border-radius: 15px;
    
}

.logoFooter{
    width: 10%;
    height: 100%;
    display: flex;
    margin: auto;
}

.logoFooter img{
    width: 50%;

}

.redesFooter{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    z-index: 10;
}
#footer .redesFooter li{
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    list-style:none;
}
.redesFooter img{
    margin: auto 1em;
    width: 8%;
    padding: 1px;
    height: auto;
background:#ffffff80;
border-radius:50%;
}