

.modal {
  left: 0;
  top: 0;
  z-index: 8;
  width: 100vw;
  height: 100vh;
  background: #32323280;
  position: fixed;
  opacity: 0;
  transform: translateY(100%);
  filter:blur(50px);
}

.modalOpen {
  transition: 0.3s ease-in-out;
  transform: translateY(0%);
  opacity: 1;
  filter:blur(0);
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  z-index: 9;
  color: white;

}
.windows {
  position: relative;
 background: linear-gradient(to right bottom, #0955a195, #c42a2a95);
/*background: #23232380;*/
  box-shadow: .4rem .4rem 2.4rem .2rem hsla(0, 0%, 14%, 0.637);
  border-radius: 25px;
  padding: 15px;
  z-index: 10;
  width: 60%;
  margin: auto;
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  position: relative;
  overflow: hidden;
}

.windows h2{
  color: #fff;
  margin:-6% 0 1% 2%;
  font-size: 2em;
  filter: drop-shadow(-2px 2px 5px rgba(17, 17, 17, 0.7));
}
.modalDescription{
  background:#fff;
  border-radius: 10px;
  font-size:1.2em;
  color: #232323;
  padding:1em
}


.buttonModal {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 0;
  right: 0;
  margin: 10px;
  margin-right:3%;
  z-index: 11;
  background: transparent;
  cursor: pointer;
}
.buttonModal i{
  color: #fff;
  font-size:2em;
  z-index:12;
  transition: all 0.3s
}
.buttonModal:hover i{
  color: rgba(161, 30, 30, 0.933);
  
}
.buttonModal:active i{
  transition: all 0.2s;
  font-size:2.8em;
}
