root{
  --bkg-color:#d6d6d6;
  --color-text-1:#3f3f3f;
  --color-primary:#074585;
  --color-secondary:#c42a2a;

}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bkg-color);
  font-family:'Raleway', sans-serif;
  overflow-x: hidden;
  background: #F8F4F2;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h2{
  font: size 1.5em;
  color: var(--color-primary);
  font-weight: 500;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}
.name {
  width: 35%;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-22%, -50%);
  text-align: center;
}
.name img{
  width: 40%;
  margin-left: 40px;
  filter: drop-shadow(-2px 2px 5px rgba(255, 255, 255, 0.7));
}
.name span {
  
  color: #074585;
  background: #ffffff;
  border-radius: 10px;
  font-size: 1.2em;
}
.name .details {
  color: #c2c2c2c2;
  font-weight: bolder
}
.name h1 {

  font-size: 30px;
  margin: 0px;
  letter-spacing: 2px;
  color: #ffffff;
}
.header-btns {
  display: flex;
  margin-top: 40px;
}
.cv-btn {
  width: 110px;
  height: 40px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #00b7ff;
  transition: 1.0s;
  border-radius: 5px;
  color: #ffffff;
}
.cv-btn:hover {
  background-color: #074585;
  transition: all ease 0.3s;
  color: #ffffff;
  border-radius: 10px;
}

.f-heading h1 {
  color: #ffffff;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
}
.f-heading p {
  color: rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.f-heading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: -80px;
}

#presentaion {
  padding-top: 30px;
  width: 100%;
  height: 768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/presentation.png);
  text-align: center;
}
#presentaion h1 {
  font-size: 2rem;
}


.s-heading h1 {
  color: #ffffff;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
}
.s-heading p {
  color: rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading {
  text-align: center;
  margin: 20px 0px;
}
.s-box {
  background-color: #ffffff;
  width: 350px;
  height: 470px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}
.b-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.s-b-img {
  width: 100%;
  height: 50%;
}
.s-b-img img {
  width: 100%;
  height: 100%;
}
.s-b-text {
  width: 100%;
  height: 40%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.s-b-text p {
  margin: 0px;
  color: #000266a6;
  font-size: 1.1rem;
  font-family: calibri;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  margin-top: 25px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.s-b-text p:hover {
  color: #000266;
}
.s-b-text a {
  margin-top: 15px;
}
.s-type {
  font-family: calibri;
  color: #000266;
  background-color: #ffffff;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}



@media (max-width: 1190px) {
  #main {
    background-size: 1150px !important;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .trabajos-image img {
    height: 400px;
  }
  #servicios {
    height: auto;
    
  }
  .a-container {
    flex-wrap: wrap;
  }
  .a-box {
    flex-grow: 1;
  }
  #services {
    height: auto;
  }
  .b-container {
    flex-wrap: wrap;
  }
  .s-box {
    flex-grow: 1;
  }
  .s-b-img img {
    object-fit: cover;
  }
  .a-b-img img {
    object-fit: contain;
  }
}

@media (max-width: 970px) {
  .main {
    background-image: none !important;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .trabajos-image {
    display: none;
  }
  .cv-btn {
    margin-left: 27%;
    margin-top: 20px;
  }
  #trabajos {
    justify-content: center;
    padding-top: 0px;
    text-align: center;

    margin-top: 0px;
  }
  .trabajos-text {
    width: 90%;
  }
  .trabajos-text h1 {
    font-size: 4rem;
  }
  .trabajos-text p {
    width: 100%;
  }
  #servicios {
    margin-bottom: 100px;
  }
  #presentaion {
    display: none;
  }
}
@media (max-width: 600px) {
  .name {
    width: 60%;
  }
}
.scroll {
  left: 42.5%;
}
@media (max-width: 1100px) {
  .menu-icon {
    display: block;
  }
  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }
  .logo img {
    width: 70px;
  }
  .header-btns {
    margin: 0;
  }
  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: #ffffff;
    border-bottom: 4px solid #1db096;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .menu li {
    width: 100%;
  }
  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: #333333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top: 5px;
  }
  nav .menu-icon .nav-icon:after {
    top: -5px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  nav .menu-btn {
    display: none;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
  }
}
@media (max-width: 400px) {
  .s-box {
    width: 100%;
    height: 400px;
  }
}
